@model IEnumerable<ProyectoVehiculo.Models.Vehiculo>
@{
    ViewBag.Title = "Listar";
}

<h2>Index</h2>
@if (Session["nombreUsuario"] != null)
{
    <h2>Bienvenido @Session["nombreUsuario"]</h2>
    //-------------------------------------
    <div class="row">
        <div class="col-sm-4" col-md-4>
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <img src="~/Imagenes/VentaVehiculo (Custom).png" />
                    <h3>Compras</h3>
                    <p>En esta opción puede comprar carros</p>
                    <p>@Html.ActionLink("Ver compras", "Index", "VentaVehiculo", new { area = "" }, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4" col-md-4>
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <img src="~/Imagenes/Auto (Custom).png" />
                    <h3>Vehiculos</h3>
                    <p>En esta opción puede comprar carros</p>
                    <p>@Html.ActionLink("Ver vehiculos", "Index", "Vehiculo", new { area = "" }, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4" col-md-4>
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <img src="~/Imagenes/Usuario (Custom).jpg" />
                    <h3>Usuarios</h3>
                    <p>En esta opción puede comprar carros</p>
                    <p>@Html.ActionLink("Ver usuarios", "", "Cuenta", new { area = "" }, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>

    </div>

    //-------------------------------------
}
else
{
    <h2>Por favor inicie sesión</h2>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="table-bordered">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        @if (item.archivos.Any(f => f.tipo == ProyectoVehiculo.Models.FileType.Imagen))
                        {
                            <img src="~/Archivo/OArchivo?id=@item.archivos.First(f => f.tipo == ProyectoVehiculo.Models.FileType.Imagen).idArchivo" alt="imagen" />
                        }
                        <div class="caption">
                            <h6>Nombre: @Html.DisplayFor(modelItem => item.tipoVehiculo.tipo)</h6>
                            <h6>Descripcion: @Html.DisplayFor(modelItem => item.combustible.nombre)</h6>
                            <h6>Marca. @Html.DisplayFor(modelItem => item.marca.nombre)</h6>
                            <h6>Disponinilidad. @Html.DisplayFor(modelItem => item.estado.nombre)</h6>

                            @Html.ActionLink("Reservar", "Login", "Cuenta") |
                            @Html.ActionLink("Comprar", "Login", "Cuenta") |
                            @Html.ActionLink("Ver Detalles", "Login", "Cuenta")
                        </div>
                    </div>
                </div>
            </div>

        }

        </div>
        }
